/* Importando fontes  */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

/* Cor de fundo */
html {
    background-color: #fbfbfb;
}

.header {
    padding: 32px;
    background-color: chocolate;
    box-shadow: 0px 2px 10px #000;
}

.logo-marca {
    width: 12vw;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.links-navegacao {
    display: flex;
    list-style-type: none;

}

.links-navegacao li a {
    padding: 16px;
    margin: 16px;
    color: #fbfbfb;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}

.cadastrar a {
    padding: 8px;
    background-color: #d1a52a;
    margin: 0;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

li.cadastrar a:hover {
    font-size: 1.4rem;
    padding: 13px;
    background-color: #000;
    transition: 0.5;
}

.painel-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 32px;
}

.anuncio-petz {
    display: flex;
    flex-direction: column ;
    width: 50%;
    align-items: flex-start;
    gap: 30px;
}

.titulo {
    font-size: 48px;
    font-weight: 700px;
    line-height: 4rem;
    color: #33303e;
    font-family: 'Mochiy Pop One', sans-serif;
}

.paragrafo {
    font-size: 24px;
    font-weight: 500;
    line-height: 2rem;
    color: #4e4b59;
}

.encontrar-pet {
    font-size: 19px;
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 16px 32px;
    background-color: #ff950d;
    color: #f5f5f5;
    margin: 0;
    border-radius: 10px;
    border: 1px solid #000;
    cursor: pointer;
    display: flex;
    align-self: center;
    text-decoration: none;
}

.segunda-secao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #ec768640;
    height: 500px;
}

.cachorros, .gatos, .hamster {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.botao_cachorro, .botao_gato, .botao_hamster {
    font-size: 19px;
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 15px 72px;
    background-color: #ff950d;
    color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #f5f5f5;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.terceira-secao {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 400px;
}

.subtitulo {
    font-size: 2.5rem;
    font-family: 'Mochiy Pop One', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
}

.conteudos {
    display: flex;
    gap: 200px;
}

.depoimentos {
    display: flex;
    /* gap: 25vw; */
    height: 200px;
    background-color: #c3c2c7;
    border-radius: 8px;
}

.texto-depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10vw;
    margin-left: 20px;
}

.footer {
    background-color: #ff950d;
}

.conteudo-radape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 12px;
    font-weight: 500;
}

.lista ul {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 1.2rem;
    color: #f5f5f5;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0 8px;
    font-size: 20px;
    font-weight: 500;
    color: #f5f5f5;
    gap: 10px;
}

.copyrigth {
    padding-bottom: 16px;
    text-align: center;
    color: #f5f5f5;
}

.imagens-sociais {
    display: flex;
    gap: 0 8px;
    align-items: center;
    justify-content: space-between;
}